body {
    margin: 0;
    font-family: 'Merienda', cursive;
} 

.container {
    margin: auto;
    width: 700px;
}

.header-image{
    width: 700px;

}

.foodItem {
    display: flex;
    gap: 15px;
    border-bottom: 1px solid #8B8B8B;
}

.food-emoji {
    font-size: 30px;
    padding: 5px 10px;
    opacity: 0.8;
}

.food-details {
    margin-top: 30px;
}

.food-details h3, 
.food-details p,
.food-details h4 {
    margin:10px
}

.food-details p {
    color: #8B8B8B
}

.add-btn {
    background: url(images/add.png);
    width: 50px;
    height: 50px;
    border: none;
}
.add {
    align-self: center;
    margin-left: auto;
    margin-right: 30px
}

.order-inner, .order-total {
    display: flex;
    gap: 10px;
}

.order-total {
    border-top: 1px solid #8B8B8B;
    padding: 5px;
    margin-top: 5px;
}

.order-details {
    margin: 10px 0 auto;
    text-align: center;   
}

.order-price, .total {
    margin-left: auto;
}

#complete-btn {
    padding: 15px 25px;
    width: 500px;
    background-color: #16DB99;
    color:#fff;
    border: none;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 8px;
}

.order-inner p {
    margin-top: 22px;
    color: #8B8B8B;
    font-size: smaller;
    cursor: pointer;
}

.modal {
    display:none;
    position: fixed;
    right:0;
    left: 0;
    top:0;
    bottom:0;
    margin:auto;
    height: 480px;
    width: 400px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 6px 2px #666;
}

.modal-inner {
    width: 80%;
    margin: 10px auto;
    text-align: center;
}

.modal-inner h2 {
    margin-top: 50px;
}

input{
    margin: 15px 0px; 
    border: 1px solid #757575;
    padding: 15px 20px;
    width: 100%;
    border-radius: 3px;
}

.pay-btn {
    margin-top: 20px;
    padding: 15px 20px;
    width: 320px;
    background-color: #16DB99;
    border:none;
    color: #fff;
}